html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.menu-list-item.mat-list-item .mat-list-item-content {
      flex: 1 1 100%;
    
}

.tile-form {
    width: 100%;
}

.no-box {
    box-shadow: unset;
}